<!doctype html/>
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width" initial-scale="1")
    title grid-project
    link(rel="stylesheet" href="/css/animation.css" type="text/css")
    link(rel="stylesheet" href="/css/fontello.css" type="text/css")
    link(rel="stylesheet" href="/css/fontello-codes.css" type="text/css")
    link(rel="stylesheet" href="/css/fontello-embedded.css" type="text/css")
    link(rel="stylesheet" href="/css/fontello-ie7.css" type="text/css")
    link(rel="stylesheet" href="/css/fontello-ie7-codes.css" type="text/css")
    link(href="./styles/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@700&family=Raleway:wght@400;500&display=swap", rel="stylesheet")
body
    include sections/header-navigation.pug
    include sections/home-section.pug
    include sections/about-us.pug
    include sections/works.pug
    include sections/services.pug
    include sections/team.pug
    include sections/testimonial.pug
    include sections/logo.pug
    include sections/contact.pug
    include sections/footer.pug