.about-us
    .container
        .about-us__content
            h2 ABOUT US
            .about-us__subtitle.subtitle LOREM IPSUM DOLOR SIT AMET EVENT LANDING TEMPLATE
        .about-us__column
            .about-us__column-left
                .about-us-column-left__picture
                .about-us-column-left__picture-fon
                .about-us-column-left__progress
                    .about-us__icon
                    .about-us__icon
                    .about-us__icon
                    .about-us__icon
            .about-us__column-right
                h3 WE ACTUALLY DO AMAZING WORKS
                p A visual approach is an approach to a runway at an airport conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.
                p Preceding aircraft in approach correct sight. conducted under instrument flight rules.
                h3 WHY WE ARE THE GREAT?
                p A visual approach is an approach to a runway at an airport conducted under instrument flight rules.The preceding aircraft in approach correct sight.
            