.contact
    .container
        .contact__column
            .contact__left-column
                input.contact-left__name.contact__input(type="text" placeholder="Name*")
                input.contact-left__subject.contact__input(type="text" placeholder="Subject*")
                input.contact-left__email.contact__input(type="email" placeholder="E-mail*")
                input.contact-left__message.contact__input(type="text" placeholder="Massage*")
                input.contact-left__send-message(type="button" value="SEND MESSAGE") 
            .contact__right-column
                .contact-right__adress.contact-right__discription
                    div Adress line 1 
                    div Adress line 2 
                    div Phone: +548 945645
                    div Fax: +456456 54546
                .contact-right__web-site.contact-right__discription
                    div Web: www.designagency.net
                    div E-mail: info@designagency.net
                .contact-right__map-up
                .contact-right__map-back