.footer
    .container
        p.footer__follow FOLLOW US
        .footer__network
            .footer-network__pinterest.footer__network-icon
            .footer-network__twitter.footer__network-icon
            .footer-network__facebook.footer__network-icon
            .footer-network__web-site.footer__network-icon
        p.footer__discription Copyright Masum Parvej, All Rights Reserved