.header-navigation
    .container
        .header-navigation__content
            .header-navigation__logo SH 
                span.header-navigation__color-blue O 
                | PNO
            .header-navigation__all-services 
                label.burger-icon(for="burger")
                input.menu-burger(id="burger" type="checkbox")
                .header-navigation__menu
                    .header-navigation__home.header-navigation__menu-discriprion Home
                    .header-navigation__action.header-navigation__menu-discriprion Action
                    .header-navigation__services.header-navigation__menu-discriprion Services
                    .header-navigation__work.header-navigation__menu-discriprion Work
                    .header-navigation__contact.header-navigation__menu-discriprion Contact