.header-navigation
    .container
        .header-navigation__content
            .header-navigation__logo SH 
                span.header-navigation__color-blue O 
                | PNO
            .header-navigation__all-services 
                label.burger-icon(for="burger")
                input.menu-burger(id="burger" type="checkbox")
                .header-navigation__menu