.home-section
    .container
        .home-section__title
            .home-section__title-top Say Hello to
                span.fon-blue SHOPNO!
            .home-section__title-bottom
                span.fon-blue Agency
                |CORPORATE SHOPNO Theme
        button.home-section__button CONTACT US
        .home-section__picture