.team
    .container
        .team__content
            h2 SMALL TEAM
            .team__subtitle.subtitle LOREM IPSUM DOLOR SIT AMET EVENT LANDING TEMPLATE
        .team__all-pictures
            .team__picrures.women-glass
                .picture-content
                        .picture-content__name AL RAYHAN 
                            span.picture-content__profession / UI Designer
                        .picture-content__discription Lorem Ipsum is not simply is  an action designer random text It has roots in a piece.
                        .picture-content__network ! ! ! !
            .team__picrures.men-black
                .picture-content
                    .picture-content__name AL RAYHAN 
                        span.picture-content__profession / UI Designer
                    .picture-content__discription Lorem Ipsum is not simply is  an action designer random text It has roots in a piece.
                    .picture-content__network ! ! ! !
            .team__picrures.men-t-shirt
                .picture-content
                    .picture-content__name AL RAYHAN 
                        span.picture-content__profession / UI Designer
                    .picture-content__discription Lorem Ipsum is not simply is  an action designer random text It has roots in a piece.
                    .picture-content__network ! ! ! !
            .team__picrures.men-shirt
                .picture-content
                    .picture-content__name AL RAYHAN 
                        span.picture-content__profession / UI Designer
                    .picture-content__discription Lorem Ipsum is not simply is  an action designer random text It has roots in a piece.
                    .picture-content__network ! ! ! !
            .team__picrures.women
                .picture-content
                    .picture-content__name AL RAYHAN 
                        span.picture-content__profession / UI Designer
                    .picture-content__discription Lorem Ipsum is not simply is  an action designer random text It has roots in a piece.
                    .picture-content__network ! ! ! !
            .team__picrures.women-glass
                .picture-content
                    .picture-content__name AL RAYHAN 
                        span.picture-content__profession / UI Designer
                    .picture-content__discription Lorem Ipsum is not simply is  an action designer random text It has roots in a piece.
                    .picture-content__network ! ! ! !
            