.testimonial
    .container
        .testimonial__content
            h2 WHAT THEY SAYS
            .testimonial__subtite.subtitle LOREM IPSUM DOLOR SIT AMET EVENT LANDING TEMPLATE
        .testimonial__column
            .testimonial__column-left
                .testimonial-column-left__picture
                .testimonial-column-left__picture-fon
                .testimonial-column-left__progress
                    .testimonial__icon
                    .testimonial__icon
                    .testimonial__icon
                    .testimonial__icon
            .testimonial__column-right
                .testimonial-column-right__title AL RAUHAN 
                    span.testimonial-column-right__subtitle / UI/UX DESIGNER
                .testimonial-column-right__discription Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                .testimonial-column-right__stars
                    label.testimonial__stars-icon(for="stars")
                        input.testimonial__stars(id="stars" type="checkbox")
                    label.testimonial__stars-icon
                        input.testimonial__stars(id="stars" type="checkbox")
                    label.testimonial__stars-icon
                        input.testimonial__stars(id="stars" type="checkbox")
                    label.testimonial__stars-icon
                        input.testimonial__stars(id="stars" type="checkbox")
                    label.testimonial__stars-icon
                        input.testimonial__stars(id="stars" type="checkbox")
            .testimonial__column-bottom
                button.testimonial__arrow_left ≪
                button.testimonial__arrow_right ≫