.works
    .container
        .works__content
            h2 FEATURED WORKS
            .works__subtitle.subtitle LOREM IPSUM DOLOR SIT AMET EVENT LANDING TEMPLATE
        .works__all-pictures
            .works__pictures.ice-cream
            .works__pictures.card
            .works__pictures.bottles
            .works__pictures.book
            .works__pictures.swing
            .works__pictures.tea

